@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/* FONTES DA IMPORTAÇÃO ACIMA
font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: bisque;
}

header{
    background-color: grey;
}

header .grid-layout{
    width: 80%;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}

header .header-flex{
    display: flex;
    justify-content: space-between;
}

header h1{
    text-transform: lowercase;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    border: 3px solid red;
}

header nav{
    display: flex;
    text-transform: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border: 2px solid white;
}

header h1 #logoux{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
}